<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Todo AdonisJs</title>
    @entryPointStyles('app')
</head>

<body class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-600 dark:text-gray-400 ">
    @include('partials/navbar')
    <div class="mt-4 pt-6 mx-8 px-auto">
        @!component('partials/flash')
        @!section('body')
    </div>
</body>

</html>